// Place all the styles related to the episodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$basewidth: 600px;
$maincolor: #6f6;
$mainfont: helvetica;

.main {
	background-color: #fff;
	border: 5px solid orange;
	width: $basewidth / 960px * 100%;
	margin: 0 auto;
	h1 {
		text-align: center;
		font-family: $mainfont;
		padding-top: 20px;
	}
}

.box{
	padding: 5px;
}

.episode{
	background-color: darken($maincolor, 30%);
	border-top: 3px solid darken($maincolor, 60%);
	margin: 15px 0px 0px;
	@extend .box;
}

.details{
	background-color: $maincolor;
	border-bottom: 3px solid darken($maincolor, 60%);
	@extend .box;
}
